#!/bin/bash

# Brewfile hash: {{ include "Brewfile.tmpl" | sha256sum }}

if command -v brew &> /dev/null; then
    echo "Running brew bundle..."
    brew bundle --file={{ joinPath .chezmoi.sourceDir "Brewfile.tmpl" }}
fi
